.*.swp
.vim
*.o
ServerMsgLexerTest
ScriptLexerTest
StringTest
SocketTest
BaldBot
ParserTest
management-game-bot
deps.mk
*.hpp.gch
*.plist
ScriptLexer-graph.svg
ScriptLexer-graph.ps
ScriptLexer-graph.pdf
valgrind.log
